#=====================================================================
#                          DEPENDENCIES
#=====================================================================

urllib3 # for the discord + cloudformation http calls